// Colors
$header: #555559;
$contentParagraph: #B5B5B5;
$navigationText: #2e2e2e;
$infoBackground: #fbfafa;

// Fonts
$openSans: 'OpenSans', sans-serif;
$openSansLight: 'OpenSans Light', sans-serif;
$openSansSemibold: 'OpenSans Semibold', sans-serif;
$openSansBold: 'OpenSans Bold', sans-serif;
